<div class="flickr flickr-photoset">
    <{{params['photoset-title-tag']}} class="flickr-photoset-title">{{ photoset.title() }}</{{params['photoset-title-tag']}}>
    {% if photoset.description() %}
    <{{params['photoset-description-tag']}} class="flickr-photoset-description">{{ photoset.description() }}</{{params['photoset-description-tag']}}>
    {% endif %}
    <section data-featherlight-gallery data-featherlight-filter=".flickr-photo">
    {% for photo in photoset.photos() %}
        {% include 'partials/flickr-photo.html.twig' %}
    {% endfor %}
    </section>
</div>
