 <figure id="lightbox-{{ photo.id() }}" class="flickr-lightbox {{params['photo-lightbox-class']}}">
    <figcaption>
        <h4 class="flickr-lightbox-title">{{ photo.title() }}</h4>
        <div class="flickr-lightbox-links">
            <a href="{{ photo.url('o') }}" target='_blank'><i class="fa fa-picture-o" aria-hidden="true"></i> Original version</a>
            <a href="{{ photo.flickrPage() }}" target='_blank'><i class="fa fa-flickr" aria-hidden="true"></i> Open in Flickr</a>
        </div>
    </figcaption>
    <img src="{{ photo.url(params['display-format-photo-lightbox']) }}">
    <div class="flickr-lightbox-description">
        {{ photo.description()|replace({"\n": "<br>"}) }}
    </div>
</figure>
